[user]
	name = Akihiro Motoki
	email = motoki@da.jp.nec.com
[color]
	ui = auto
[core]
	editor = vi
	pager = lv
[http]
	sslVerify = no
[push]
	default = upstream
[gitreview]
	username = amotoki
[alias]
        st = status
        diffcache = diff --cached
        diffword = diff --word-diff
        graph = log --graph --date=short --decorate=short --pretty=format:'%Cgreen%h %Creset%cd %Cblue%cn %Cred%d %Creset%s'
        set-upstream-master = branch --set-upstream-to=origin/master master
        delete-all-reviews = !git checkout master && git branch | grep review/ | xargs --no-run-if-empty git branch -D

[url "amotoki@git.sourceforge.jp:/gitroot/linuxjm/"]
        pushInsteadOf = http://scm.sourceforge.jp/gitroot/linuxjm/
        pushInsteadOf = git://git.sourceforge.jp/gitroot/linuxjm/
[url "git@github.com:"]
        pushInsteadOf = https://github.com/
