[user]
	name = Akihiro Motoki
	email = motoki@da.jp.nec.com
[color]
	ui = auto
[core]
	editor = vi
	pager = lv
[http]
	sslVerify = no
[push]
	default = upstream
[gitreview]
	username = amotoki
[alias]
        set-upstream = branch --set-upstream-to=origin/master master
        st = status
        diffcache = diff --cached
